<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="dev">
        <property name="CONSOLE_LOG_PATTERN"
                  value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) - %clr(correlationId:%X{X-Correlation-Id:-}) - %clr(countryCode:%X{X-Country-Code:-}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="!dev">
        <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="com.google.cloud.spring.logging.StackdriverJsonLayout">
                    <projectId>${projectId}</projectId>
                    <includeTraceId>false</includeTraceId>
                    <includeSpanId>false</includeSpanId>
                    <loggingEventEnhancer>
                        com.decathlon.onecheckout.checkout.config.MessageLoggingEventEnhancer
                    </loggingEventEnhancer>
                </layout>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>
</configuration>